*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
}

.hero{
    height:100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(https://images.unsplash.com/photo-1581472723648-909f4851d4ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}

#main{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: black;
}
 
li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 25px;
}

.primarynavitem {
    text-decoration: none;
    color: antiquewhite;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.primarynavitem:hover{
    color: darkorange;
    transition: 0.4s;
    letter-spacing: 2px;
}


a:hover{
    color: darkorange;
    transition:1.5s;
}

.content{
    position:absolute;
    top:70%;
    left:50%;
    transform: translateY(-75%);
    border-radius: 8px;
}

h4{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}

h2{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px; 
}

span{
    color: orangered;
}

h3{
    color: white ;
    font-size: 25px;
    margin-bottom: 50px;
}
.news form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.news form input:first-child{
    display: inline-block;
    width:100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid orangered;
    outline: none;
    border-radius: 30px;
}

.news form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: orangered;
    color: white;
    box-shadow: 0px 0px 5px #000,0px 0px 15px #462d2d;
}

.about{
    padding-left: 20px;
    margin: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    margin-top: 32px;   
}

.background2{
    background-image: url(https://images.unsplash.com/photo-1581472723648-909f4851d4ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    height:100vh;
    width: 100%;
    background-size: cover;
}

header{
    display: flex;
    margin-top: 32px;
}

 #avatar{
    width:150px;
    height:150px;
    border-radius: 80%;
    background-size:cover;
    background-position:left center;
    background-image: url('./images/pfp.jpg');
}

 #introduction{
    flex: 1;
    margin-left: 1rem;
}

small{
    font-size: 11px;
    color: white;
}

p{
    padding: 20px;
    font-size: larger;
    color: white;
}

#parent{
    display:flex;
    padding: 0 0 0 0;
}

.do{
    width: 300px;
    height: 200px;
    border-radius: 8px;
    padding: 2px 23px 20px 12px;
    margin: 5px 25px 20px 50px;
    background-color: wheat;
}

.do h5{

    text-decoration:underline;
    color: brown;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding:2px 0 2px 0;
    font-size: larger;
}

.do p{
    color: black;
}

.skills{
    width: 450px;
    height: auto;
    border-radius: 8px;
    padding: 5px 23px 20px 0px;
    margin: 0px 25px 20px 50px;
    background-color: wheat;
}

.skills h6{
    text-decoration:underline;
    color: brown;
    font-weight: bold;
    margin: 0 0 10px 20px;
    padding:2px 0 2px 0;
    font-size: larger;
}

.skills ul{
    color: black;
    margin-left: 45px;
    padding-left:0;
}

.train{
    width: 500px;
    height: 200px;
    border-radius: 8px;
    padding: 5px 23px 20px 0px;
    margin: 20px 25px 20px 50px;
    background-color: wheat;
}

.train h7{
    text-decoration:underline;
    color: brown;
    font-weight: bold;
    margin: 0 0px 10px 20px;
    padding:2px 100px 2px 0;
    font-size: larger;
}



