*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    /* background-image:linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),url(https://images.unsplash.com/photo-1581472723648-909f4851d4ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    top: 6;
    display: flex;
    margin-top: 32px;
}

header #avatar{
    width:256px;
    height:256px;
    border-radius: 50%;
    background-size:cover;
    background-position:left center;
    background-image: url(profilepicture.jpg);
}

header #introduction{
    flex: 1;
    margin-left: 1rem;
}

header #introduction small{
    font-size: 11px;
}

span{
    color: darkorange;
}

nav{
    align-items:center;
    display: inline-block;
    padding-top: 15px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 16px;
    background-color: black;
 }

li{
    flex:1;
    list-style-type: none;
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: antiquewhite;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}


a:hover{
    color: darkorange;
    transition:1.5s;
}

.content{
    position:absolute;
    top:90%;
    left:50%;
    transform: translateY(-75%);
    border-radius: 8px;
}

.news form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.news form input:first-child{
    display: inline-block;
    width:100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid transparent;
    outline: none;
    border-radius: 30px;
}

.news form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    border: 10px 30px;
}

h1{
    color: black;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3{
    color: white ;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}


.socialmedia{
    background-color:coral;
    color: black;
    text-decoration: none;
    border:2px solid transparent;
    font-weight:bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform 0.5s;
}

.socialmedia:hover{
    transform: scale(1.1);
    transition: 1.0s;
}

#parent{
    display:block;
    padding: 0 0 0 20px;
}

.me{
    width: 500px;
    height: auto;
    border-radius: 8px;
    padding: 5px 23px 20px 25px;
    margin: 20px 25px 20px 20px;
    background-color: wheat; 
}

 .me h1{

    text-decoration: underline;
    color: brown;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding:2px 0 2px 0;
}

 .me p{
    color:black;
    
}

.do{
    width: 500px;
    height: auto;
    border-radius: 8px;
    padding: 5px 23px 20px 25px;
    margin: 20px 25px 20px 20px;
    background-color: wheat;
}

.do h2{

    text-decoration:underline;
    color: brown;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding:2px 0 2px 0;
}

.do p{
    color: black;
}

.skills{
    width: 500px;
    height: auto;
    border-radius: 8px;
    padding: 5px 23px 20px 25px;
    margin: 20px 25px 20px 20px;
    background-color: wheat;
}

.skills h3{
    text-decoration:underline;
    color: brown;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding:2px 0 2px 0;
    font-size: larger;
}

.skills ul li{
    color: black;
    margin-left: 45px;
    padding-left:0;
    
}


